<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="PInvoke.Windows.Core" publicKeyToken="9E300F9F87F04A7A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PInvoke.NCrypt" publicKeyToken="9E300F9F87F04A7A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PInvoke.Kernel32" publicKeyToken="9E300F9F87F04A7A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Validation" publicKeyToken="2FC06F0D701809A7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PInvoke.BCrypt" publicKeyToken="9E300F9F87F04A7A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
