<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AMQPNetLite" version="1.2.3" targetFramework="win81" />
  <package id="AzureSBLite" version="1.3.0.0" targetFramework="win81" />
  <package id="BouncyCastle-PCL" version="1.0.0.6" targetFramework="win81" />
  <package id="HockeySDK.Core" version="4.1.6" targetFramework="win81" />
  <package id="HockeySDK.WINRT" version="4.1.6" targetFramework="win81" />
  <package id="Microsoft.ApplicationInsights" version="2.1.0" targetFramework="win81" />
  <package id="Microsoft.Azure.Devices.Client.PCL" version="1.0.16" targetFramework="win81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="win81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="win81" />
  <package id="Newtonsoft.Json.Schema" version="3.0.3" targetFramework="win81" />
  <package id="PCLCrypto" version="1.0.86" targetFramework="win81" />
  <package id="PCLWebUtility" version="1.0.3" targetFramework="win81" />
  <package id="Validation" version="2.0.6.15003" targetFramework="win81" />
</packages>