<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AMQPNetLite" version="2.1.0" targetFramework="win81" />
  <package id="AzureSBLite" version="1.3.0.0" targetFramework="win81" />
  <package id="BouncyCastle-PCL" version="1.0.0.6" targetFramework="win81" />
  <package id="HockeySDK.Core" version="4.1.6" targetFramework="win81" />
  <package id="HockeySDK.WINRT" version="4.1.6" targetFramework="win81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="win81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="win81" />
  <package id="Newtonsoft.Json.Schema" version="3.0.3" targetFramework="win81" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="win81" />
  <package id="PCLWebUtility" version="1.0.3" targetFramework="win81" />
  <package id="PInvoke.BCrypt" version="0.5.111" targetFramework="win81" />
  <package id="PInvoke.Kernel32" version="0.5.111" targetFramework="win81" />
  <package id="PInvoke.NCrypt" version="0.5.111" targetFramework="win81" />
  <package id="PInvoke.Windows.Core" version="0.5.111" targetFramework="win81" />
  <package id="Validation" version="2.4.18" targetFramework="win81" />
</packages>