<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="System.Xml.Linq" version="3.5.21022.801" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="4.1.5" targetFramework="net452" />
</packages>