################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartHive.ScheduleBoard/Microsoft.ServiceBus/bin/x86/Debug
/SmartHive.ScheduleBoard/Microsoft.ServiceBus/obj/x86/Debug
/SmartHive.ScheduleBoard/SmartHive.CloudConnection/bin/x86/Debug
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/bin/x86/Debug
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/bld/x86/Debug
/SmartHive.ScheduleBoard/SmartHive.CloudConnection/obj/x86/Debug
