################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartHive.ScheduleBoard/Microsoft.ServiceBus/bin/x86/Debug
/SmartHive.ScheduleBoard/Microsoft.ServiceBus/obj/x86/Debug
/SmartHive.ScheduleBoard/SmartHive.CloudConnection/bin/x86/Debug
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/bin/x86/Debug
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/bld/x86/Debug
/SmartHive.ScheduleBoard/SmartHive.CloudConnection/obj/x86/Debug
/SmartHive.ScheduleBoard/20170119.diagsession
/SmartHive.ScheduleBoard/20170119 (2).diagsession
/SmartHive.ScheduleBoard/20170118.diagsession
/SmartHive.ScheduleBoard/20170117.diagsession
/SmartHive.ScheduleBoard/20170116.diagsession
/SmartHive.ScheduleBoard/20170116 (3).diagsession
/SmartHive.ScheduleBoard/20170116 (2).diagsession
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/AppPackages
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/bin/Debug
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/bld/Debug
*.diagsession
/SmartHive.ScheduleBoard/SmartHive.CloudConnection/bin/Debug
/SmartHive.ScheduleBoard/SmartHive.CloudConnection/obj/Debug
/SmartHive.ScheduleBoard/Microsoft.ServiceBus/bin/Debug
/SmartHive.ScheduleBoard/Microsoft.ServiceBus/obj/Debug
/.vs
/SmartHive.FloorMap/.vs
/SmartHive.FloorMap/2del
/SmartHive.FloorMap/Docs
/SmartHive.LevelMapApp/.vs
/SmartHive.LevelMapApp/packages
/SmartHive.LevelMapApp/SmartHive.LevelMapApp/SmartHive.LevelMapApp.Android/bin/Debug
/SmartHive.LevelMapApp/SmartHive.LevelMapApp/SmartHive.LevelMapApp.Android/obj/Debug
/SmartHive.LevelMapApp/SmartHive.LevelMapApp/SmartHive.LevelMapApp.iOS/bin/iPhone/Debug
/SmartHive.LevelMapApp/SmartHive.LevelMapApp/SmartHive.LevelMapApp.iOS/obj/iPhone/Debug
/SmartHive.LevelMapApp/SmartHive.LevelMapApp/SmartHive.LevelMapApp.UWP/bin/x86/Debug
/SmartHive.LevelMapApp/SmartHive.LevelMapApp/SmartHive.LevelMapApp.UWP/obj/x86/Debug
/SmartHive.LevelMapApp/SmartHive.LevelMapApp.CloudController/bin/Debug
/SmartHive.LevelMapApp/SmartHive.LevelMapApp.CloudController/obj
/SmartHive.Controllers/SmartHive.Controllers/bin/Debug
/SmartHive.Controllers/SmartHive.Controllers/obj/Debug
/SmartHive.Controllers/SmartHive.Controllers/bin/Debug
/SmartHive.Controllers/SmartHive.Controllers/obj/Debug
/SmartHive.Controllers/SmartHive.Controllers/packages.config
/SmartHive.LevelMapApp/SmartHive.LevelMapApp/SmartHive.LevelMapApp.Android/packages.config
/SmartHive.Models/SmartHive.Models/bin/Debug
/SmartHive.Models/SmartHive.Models/obj/Debug
/SmartHive.Controllers/bin/Debug
/SmartHive.Controllers/bin/Debug
/SmartHive.Controllers/obj/Debug
/SmartHive.Controllers/obj/Debug
*.dll
/SmartHive.Controllers/packages.config
/SmartHive.Models/bin/Debug
/SmartHive.Models/obj/Debug
/SmartHive.ScheduleBoard/.vs/SmartHive.ScheduleBoard
/SmartHive.ScheduleBoard/Microsoft.ServiceBus/bin/ARM/Debug
/SmartHive.ScheduleBoard/SmartHive.CloudConnection/bin/ARM/Debug
/SmartHive.ScheduleBoard/SmartHive.CloudConnection/obj/ARM/Debug
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/bin/ARM/Debug
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/bld/ARM/Debug
/SmartHive.ScheduleBoard/SmartHive.ScheduleBoard/Metadata
/SmartHive.Web
/SmartHive.ScheduleBoard/Microsoft.ServiceBus/obj/ARM/Debug
/SmartHive.Controllers/Properties
/SmartHive.Models/packages.config
/SmartHive.InfoboardSvc/.vs
/SmartHive.InfoboardSvc/InfoboardSvc/bin
/SmartHive.InfoboardSvc/InfoboardSvc/obj
/SmartHive.InfoboardSvc/InfoboardSvc/Properties
/SmartHive.InfoboardSvc/InfoboardSvc.Common/bin
/SmartHive.InfoboardSvc/InfoboardSvc.Common/obj
/SmartHive.InfoboardSvc/InfoboardSvc.Common/Transport
/SmartHive.InfoboardSvc/InfoboardSvc.Common.Data/bin
/SmartHive.InfoboardSvc/InfoboardSvc.Common.Data/obj
/SmartHive.InfoboardSvc/InfoboardSvc.WebJob/obj/Debug
/SmartHive.InfoboardSvc/packages
/SmartHive.InfoboardSvc/InfoboardSvc.WebJob/InfoboardSvc.WebJob_TemporaryKey.pfx
/SmartHive.InfoboardSvc/InfoboardSvc.WebJob/InfoboardSvc.WebJob.csproj.vspscc
/SmartHive.InfoboardSvc/InfoboardSvc.Common.Data/InfoboardSvc.Common.Data.csproj.vspscc
/SmartHive.InfoboardSvc/InfoboardSvc.Common/InfoboardSvc.Common.csproj.vspscc
/SmartHive.InfoboardSvc/InfoboardSvc/DefaultScreenSaver.mp4
/obj
/packages
/SmartSpaces
/Smarthive.TelemetryProcessing
/docker-compose.dcproj
/docker-compose.override.yml
/docker-compose.yml
/.dockerignore
/SmartHive.AzureFunction
