<?xml version="1.0" encoding="utf-8" ?>
<!--
  This file contains basic settings needed for most web apps.
  For full Combres settings (with explanation), refer to the sample definition file: combres_full_with_annotation.xml
  Also, refer to Combres' documentation: http://combres.codeplex.com/documentation	
-->
<combres xmlns='urn:combres'>
  <filters>
    <filter type="Combres.Filters.FixUrlsInCssFilter, Combres" />
    <filter type="Combres.Filters.DotLessCssCombineFilter, Combres" acceptedResourceSets="bootstrap;responsive;theme;themertl"/>
  </filters>
  <resourceSets url="~/combres.axd"
                defaultDuration="30"
                defaultVersion="auto"
                defaultDebugEnabled="false"
                defaultIgnorePipelineWhenDebug="true"
                localChangeMonitorInterval="30"
                remoteChangeMonitorInterval="60"
                >
    <resourceSet name="themeCss" type="css">
      <resource path="~/css/bootstrap/bootstrap.css" />
      <resource path="~/css/font/font-awesome.css" />
      <resource path="~/css/bootstrap/theme.css" />
      <resource path="~/css/bootstrap/bootstrap-responsive.css" />
    </resourceSet>

    <resourceSet name="rtlCss" type="css">
      <resource path="~/css/rtl/bootstrap.rtl.css" />
      <resource path="~/css/font/font-awesome.css" />
      <resource path="~/css/rtl/theme.rtl.css" />
      <!--<resource path="~/css/rtl/bootstrap-responsive.rtl.css" />-->
    </resourceSet>


    <resourceSet name="bootstrap" type="css">
      <!--CSS Reset-->
      <resource path="~/less/bootstrap/reset.less" />

      <!--Core variables and mixins-->
      <!--Modify this for custom colors, font-sizes, etc-->
      <resource path="~/less/bootstrap/variables.less" />
      <resource path="~/less/bootstrap/mixins.less" />

      <!--Grid system and page structure-->
      <resource path="~/less/bootstrap/scaffolding.less" />
      <resource path="~/less/bootstrap/grid.less" />
      <resource path="~/less/bootstrap/layouts.less" />

      <!--Base CSS-->
      <resource path="~/less/bootstrap/type.less" />
      <resource path="~/less/bootstrap/code.less" />
      <resource path="~/less/bootstrap/forms.less" />
      <resource path="~/less/bootstrap/tables.less" />

      <!--Components: common-->
      <!--<resource path="~/less/bootstrap/sprites.less" />-->
      <!--Removed sprites and added font-awesome-->
      <resource path="~/less/font/font-awesome.less" />
      <resource path="~/less/bootstrap/dropdowns.less" />
      <resource path="~/less/bootstrap/wells.less" />
      <resource path="~/less/bootstrap/component-animations.less" />
      <resource path="~/less/bootstrap/close.less" />

      <!--Components: Buttons & Alerts-->
      <resource path="~/less/bootstrap/buttons.less" />
      <resource path="~/less/bootstrap/button-groups.less" />
      <!--Alerts share common CSS with buttons and thus have styles in buttons.less-->
      <resource path="~/less/bootstrap/alerts.less" />

      <!--Components: Nav-->
      <resource path="~/less/bootstrap/navs.less" />
      <resource path="~/less/bootstrap/navbar.less" />
      <resource path="~/less/bootstrap/breadcrumbs.less" />
      <resource path="~/less/bootstrap/pagination.less" />
      <resource path="~/less/bootstrap/pager.less" />

      <!--Components: Popovers-->
      <resource path="~/less/bootstrap/modals.less" />
      <resource path="~/less/bootstrap/tooltip.less" />
      <resource path="~/less/bootstrap/popovers.less" />

      <!--Components: Misc-->
      <resource path="~/less/bootstrap/thumbnails.less" />
      <resource path="~/less/bootstrap/labels-badges.less" />
      <resource path="~/less/bootstrap/progress-bars.less" />
      <resource path="~/less/bootstrap/accordion.less" />
      <resource path="~/less/bootstrap/carousel.less" />
      <resource path="~/less/bootstrap/hero-unit.less" />

      <!--Utility classes. Has to be last to override when necessary-->
      <resource path="~/less/bootstrap/utilities.less" />
    </resourceSet>
    
    <resourceSet name="responsive" type="css">
      <!--Modify this for custom colors, font-sizes, etc-->
      <resource path="~/less/bootstrap/variables.less" />
      <resource path="~/less/bootstrap/mixins.less" />

      <!--RESPONSIVE CLASSES-->
      <resource path="~/less/bootstrap/responsive-utilities.less" />

      <!--MEDIA QUERIES-->
      <!--Phones to portrait tablets and narrow desktops-->
      <resource path="~/less/bootstrap/responsive-767px-max.less" />
      <!--Tablets to regular desktops-->
      <resource path="~/less/bootstrap/responsive-768px-979px.less" />
      <!--Large desktops-->
      <resource path="~/less/bootstrap/responsive-1200px-min.less" />

      <!--RESPONSIVE NAVBAR-->
      <!--From 979px and below, show a button to toggle navbar contents-->
      <resource path="~/less/bootstrap/responsive-navbar.less" />
    </resourceSet>

    <resourceSet name="theme" type="css">
      <resource reference="bootstrap" />
      <resource path="~/less/bootstrap/theme.less" />
      <resource reference="responsive" />
    </resourceSet>
    
    <resourceSet name="bootstrapJs" type="js">
      <resource path="~/scripts/bootstrap/bootstrap-transition.js" />
      <resource path="~/scripts/bootstrap/bootstrap-alert.js" />
      <resource path="~/scripts/bootstrap/bootstrap-modal.js" />
      <!--<resource path="~/scripts/bootstrap/bootstrap-dropdown.js" />-->
      <resource path="~/scripts/bootstrap/bootstrap-scrollspy.js" />
      <resource path="~/scripts/bootstrap/bootstrap-tab.js" />
      <resource path="~/scripts/bootstrap/bootstrap-tooltip.js" />
      <resource path="~/scripts/bootstrap/bootstrap-popover.js" />
      <resource path="~/scripts/bootstrap/bootstrap-button.js" />
      <resource path="~/scripts/bootstrap/bootstrap-collapse.js" />
      <resource path="~/scripts/bootstrap/bootstrap-carousel.js" />
      <resource path="~/scripts/bootstrap/bootstrap-typeahead.js" />
    </resourceSet>

    <resourceSet name="siteJs" type="js">
      <resource reference="bootstrapJs" />
      <resource path="~/scripts/site.js" />
    </resourceSet>
  </resourceSets>
</combres>
