/* font-family: "ZantrokeRegular"; */
@font-face {
    font-family: "ZantrokeRegular";
    src: url("/font/ZantrokeRegular.eot");
    src: url("/font/ZantrokeRegular.eot?#iefix")format("embedded-opentype"),
    url("/font/ZantrokeRegular.woff") format("woff"),
    url("/font/ZantrokeRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.umb-grid{
	font-family: "ZantrokeRegular"; /*"Lato", sans-serif;*/
}
