@page
@model SmartHive.RoomManagerSvc.Pages.Rooms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room.RoomId" class="control-label"></label>
                <input asp-for="Room.RoomId" class="form-control" />
                <span asp-validation-for="Room.RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.LevelId" class="control-label"></label>
                <select asp-for="Room.LevelId" class ="form-control" asp-items="ViewBag.LevelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Room.TopicId" class="control-label"></label>
                <select asp-for="Room.TopicId" class ="form-control" asp-items="ViewBag.TopicId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Room.ExchangeName" class="control-label"></label>
                <input asp-for="Room.ExchangeName" class="form-control" />
                <span asp-validation-for="Room.ExchangeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Title" class="control-label"></label>
                <input asp-for="Room.Title" class="form-control" />
                <span asp-validation-for="Room.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.TitleEn" class="control-label"></label>
                <input asp-for="Room.TitleEn" class="form-control" />
                <span asp-validation-for="Room.TitleEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
