@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    <ul class="breadcrumb">
    @foreach (var level in @Model.Ancestors().Where("Visible"))
     {
        <li><a href="@level.Url">@level.Name</a> <span class="divider">/</span></li>
     }

        <li class="active">@Model.Name</li>
    </ul>
}

