@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    var root = Model.AncestorsOrSelf().First();
    <div class="well">
        <dl>
            <dt><i class="icon-phone"></i> @Dictionary.Phone</dt>
            <dd>@root.ContactPhone</dd>
        </dl>
        <dl>
            <dt><i class="icon-envelope"></i> @Dictionary.Email</dt>
            <dd>@root.ContactEmail</dd>
        </dl>
    </div>

}