@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    <ul class="thumbnails">
    @foreach (var item in @Model.Children)
    {
        var image = RenderPage("ResizeImage.cshtml", item.BodyImage.ToString(), "260", "180", "", "ffffff");
        <li class="span3">
            <a href="@item.Url" title="@item.HeaderText" class="thumbnail">@image</a>
        </li>
    }
    </ul>
}