@*
Notice that useDomainPrefixes in umbracoSettings.config must be set to true 
and the plusone.js and facebook.js scripts must be set at the end of the page
Params:
    DisableFbRoot (bool, optional, default false
*@
@using System.Threading
@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    // The <div id="fb-root"></div> must be set only once per page
    bool disableFbRoot;
    bool.TryParse(Parameter.DisableFbRoot, out disableFbRoot);
    <div class="well">
    <div class="g-plusone" data-size="small" data-annotation="inline" data-width="200" data-href="@Model.Url" data-lang="@Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName"></div>
    @if (!disableFbRoot) 
    {
        <div id="fb-root" data-lang="@Thread.CurrentThread.CurrentUICulture.Name.Replace("-", "_")"></div>
    }
    <div class="fb-like" data-href="@Model.Url" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-action="recommend" data-font="trebuchet ms"></div>
    </div>
}
