@using umbraco.MacroEngines
@inherits DynamicNodeContext
@{
    var searchPage = Model.AncestorsOrSelf().First().Descendants("Searchpage").First();
    <form role="search" method="get" action="@searchPage.Url" class="navbar-form pull-right">
        <input type="text" name="q" class="span2" value="@Request.QueryString["q"]" placeholder="@Dictionary.Search" />
    </form>
}
