html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Segoe UI;
}

#rootGrid
{
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-rows: 180px 100% 150px;
	-ms-grid-columns: 100%;
    }

#header
{
   background-color: #21bdee;
}

#RoomPicture 
{
    height: 100%;
	display: -ms-flexbox;
	-ms-flex-flow:row;
	-ms-grid-column: 1;
}

#RoomPicture img, #MtcLogo img{
	padding: 15px;
	}
#RoomTitle
{
	font-size: 44pt;
	-ms-grid-column: 2;
	-ms-grid-row-align: center;
}

#Title {	
	font-weight: bold;
}

#content
{
	background-color: white;
}

.k-grid {
            height: 100%;
        }
.k-grid-header {
    display: none;
}
.k-grid-content, .k-grid-content h3{
    font-family: 'Segoe UI';
    font-size: 32pt;
}

#footer
{
   /* -ms-grid-row: 3;*/
       position:absolute;
       bottom:0px;
    width: 100%;
    background-color: #21bdee;
    height: 150px;
    /*padding: 0px;*/
}

/** sstyles for status messages*/
#statusText{
    color:  #21bdee;
}


.buttonLabel{position: relative; left: -25px; font-family: 'Segoe UI'; font-size: 12pt;}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
 /*
@media screen and (max-width: 1600px) {
        .k-grid-content, .k-grid-content h3{
            font-size: 22pt; Для мониторов в корридоре - уменьшаем шрифт
        }
}*/

.error {
	color: red;
}


/*Sensor tile appearance*/
div.t-hubtile {
        width: 310px;
        height: 150px;
}

div.t-tile {
        /*background-color: #009D00;*/
        color: #fff;
}

.t-tile h2 {
        margin: 10px;
}

.grid {
        display: -ms-grid;
        -ms-grid-columns: 2fr 0.5fr 2fr;
        -ms-grid-rows: 1;
        margin: 10px;
}

.cell1 {
        -ms-grid-column: 1;
    -ms-grid-column-align: center;
}

.cell2 {
        -ms-grid-column: 3;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}

.smallerText {
        font-size: 10pt;
}


/*
Settings Pane
*/
.win-settingsflyout .win-header {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 32px;
    height: 48px;
}
/* Settings back button is slightly smaller. */
.win-settingsflyout .win-backbutton {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 8pt;
    line-height: 26px;
    margin-top: 3px;
}
.win-settingsflyout .win-header .win-label {
    display: inline-block;
    padding-left: 40px;
    font-size: 20pt;
    line-height: 33px;
}

.win-settingsflyout .win-label {
    font-size: 20pt;
    font-weight: 200;
    line-height: normal;
}

.win-settings-section  input, select{
    font-size: 12pt;
    line-height: normal;
    width: 250px;
}