#viewModeBoxWrapper {
	overflow: hidden;
	position: relative;
    display: none;
    width: 100px;
}
/* Text selection color */
#viewModeBoxWrapper:hover{
    border: 1px solid #355A73;	
}

.viewModeBoxUpper {
	height: 90px;
	border: 1px solid white;	
	overflow: hidden;
}

.viewModeBoxImageContainer {
	height: 90px;
	margin: 2px;	
	display: flex;
	align-items: center;
	justify-content: center;    
}

.viewModeBoxImageContainer img{
    width: 60px !important; 
    height:60px !important;
}



