@page
@model SmartHive.RoomManagerSvc.Pages.ServiceBus.Namespace.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceBusNamespace</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ServiceBusNamespace.Namespace" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
