@page
@model SmartHive.RoomManagerSvc.Pages.ServiceBus.Namespace.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServiceBusNamespace) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Namespace">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Namespace">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Namespace">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
